<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Detalles | DOWN THE T</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<%- include('../views/header.ejs'); %>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categorias</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Accesorios</a></h4>
								</div>

							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Raquetas</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bolsos</a></h4>
								</div>

							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Zapatos</a></h4>
								</div>
							</div>


						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Marcas</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-right">(24)</span>Wilson</a></li>
									<li><a href=""> <span class="pull-right">(15)</span>Babolat</a></li>
									<li><a href=""> <span class="pull-right">(10)</span>Head</a></li>
									<li><a href=""> <span class="pull-right">(6)</span>Yonex</a></li>
									<li><a href=""> <span class="pull-right">(2)</span>Prince</a></li>
									<li><a href=""> <span class="pull-right">(9)</span>Dunlop</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Rango de precio</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="2000000" data-slider-step="5" data-slider-value="[50000,1000000]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 2.000.000</b>
							</div>
						</div><!--/price-range-->
						

						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/babolat-pure-aero.png" width="800" height="800" alt="" />
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-a.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-b.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-c.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-a.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-b.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-c.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-a.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-b.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-c.jpg" alt=""></a>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>RAQUETA DE TENIS BABOLAT PURE AERO RAFA</h2>
								<p>Web ID: 1089772</p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>$970.000</span>
									<label>Cantidad:</label>
									<input type="number" value="1" min="1" max="15" step="1">
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Añadir
									</button>
								</span>
								<p><b>Disponibilidad:</b> En existencias</p>
								<p><b>Condición:</b> Nuevo</p>
								<p><b>Marca:</b> Babolat</p>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Detalles</a></li>
								<li><a href="#tag" data-toggle="tab">Otros usuarios compraron</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Opiniones (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								Pure Aero Rafa – La raqueta Babolat Pure Aero Rafa ha sido diseñada 
								en asociación con Rafael Nadal. Este modelo es utilizado por el jugador 
								español desde el inicio del año 2020 y le ha permitido imponerse en tierras 
								francesas con su 13º título de Grand Slam en el ocre parisino. En cuanto al 
								diseño, esta raqueta conserva lo fundamental de la Pure Aero gracias a su 
								base amarillo y negro, pero la adición de un degradado naranja en la cabeza 
								de la raqueta, así como las inscripciones en fucsia, hacen que este modelo 
								sea aún más dinámico y aclamado por los liftadores.
							</div>
							
							<%- include('../views/otras-compras.ejs'); %> <!--Otras compras-->
							
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>David</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>21 MAY 2022</a></li>
									</ul>
									<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p>Original 100%. Buena raqueta.</p>
									<ul>
										<li><a href=""><i class="fa fa-user"></i>Bin</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>03:07 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>20 FEB 2022</a></li>
									</ul>
									<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p> Excelente raqueta para jugadores entre intermedio y avanzado.</p>
									<p><b>Déjanos tu opinión</b></p>
									
									<form action="#">
										<span>
											<input type="text" placeholder="Nombre"/>
											<input type="email" placeholder="Correo electrónico"/>
										</span>
										<textarea name="" ></textarea>
										<b>Evaluación: </b> <img src="images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-right">
											Enviar
										</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<%- include('../views/recomendados.ejs'); %> <!--Productos recomendados-->
					
				</div>
			</div>
		</div>
	</section>
	
	<%- include('../views/footer.ejs'); %>
	

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>