<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Checkout | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<%- include('../views/header.ejs'); %>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Paso 1</h2>
			</div>
			<div class="checkout-options">
				<h3>Usuario nuevo</h3>
				<p>Checkout options</p>
				<ul class="nav">
					<li>
						<label><input type="checkbox"> Registrar Cuenta</label>
					</li>
					<li>
						<label><input type="checkbox"> Seguir como invitado</label>
					</li>
					<li>
						<a href=""><i class="fa fa-times"></i>Cancelar</a>
					</li>
				</ul>
			</div><!--/checkout-options-->

			<div class="register-req">
				<p>Inicia sesion para tener acceso a tu historial de ordenes, o sigue como invitado	</p>
			</div><!--/register-req-->

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Informacion de comprador</p>
							<form>
								<input type="text" placeholder="Nombre del comprador">
								<input type="text" placeholder="Nombre de usuario">
								<input type="password" placeholder="Contraseña">
								<input type="password" placeholder="Confirmar contraseña">
							</form>
							<a class="btn btn-primary" href="">Continuar</a>
						</div>
					</div>
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Enviar a</p>
							<div class="form-one">
								<form>
									<input type="text" placeholder="Nombre de empresa">
									<input type="text" placeholder="Correo*">
									<input type="text" placeholder="Primer Nombre *">
									<input type="text" placeholder="Segundo Nombre">
									<input type="text" placeholder="Apellido*">
									<input type="text" placeholder="Dirección 1 *">
									<input type="text" placeholder="Direccion 2">
								</form>
							</div>
							<div class="form-two">
								<form>
									<input type="text" placeholder="Codigo postal (ZIP Code) *">
									<select>
										<option>-- País --</option>
										<option>Colombia</option>
										<option>Ecuador</option>
										<option>Argentina</option>
										<option>México</option>
										<option>Uruguay</option>
										<option>Chile</option>
										<option>Bolivia</option>
										<option>Venezuela</option>
									</select>
									<select>
										<option>-- State / Province / Region --</option>
										<option>-- País --</option>
										<option>Colombia</option>
										<option>Ecuador</option>
										<option>Argentina</option>
										<option>México</option>
										<option>Uruguay</option>
										<option>Chile</option>
										<option>Bolivia</option>
										<option>Venezuela</option>
									<input type="text" placeholder="Telefono *">

								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Informacion Adicional</p>
							<textarea name="message"  placeholder="Aquí puedes escribir informacion adicional para tu orden " rows="16"></textarea>
							<label><input type="checkbox"> Usar misma direccion para envio y facturación</label>
						</div>	
					</div>					
				</div>
			</div>
			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Precio</td>
							<td class="quantity">Cantidad</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/Producto7.jpg" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Head Boom Pro</a></h4>
							</td>
							<td class="cart_price">
								<p>$1.200.000</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$1.200.000</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/Producto4.jpg" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Wilson Super Tour 2 Comp Large</a></h4>
							</td>
							<td class="cart_price">
								<p>$550.000</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$550.000</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/Producto2.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">HEAD Pro Damp</a></h4>
							</td>
							<td class="cart_price">
								<p>$35.000</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$35.000</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Sub Total</td>
										<td>$1.785.000</td>
									</tr>
									<tr class="shipping-cost">
										<td>Coste de envío</td>
										<td>$15.000</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>$1.800.000</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="payment-options">
					<span>
						<label><input type="checkbox"> Transferencia Bancaria</label>
					</span>
					<span>
						<label><input type="checkbox"> Tarjeta Credito/Debito</label>
					</span>
					<span>
						<label><input type="checkbox"> Paypal</label>
					</span>
				</div>
		</div>
	</section> <!--/#cart_items-->

	

	<%- include('../views/footer.ejs'); %>
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>