<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Detalles | Down the T</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<%- include('../views/header.ejs'); %>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categorias</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Accesorios</a></h4>
								</div>

							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Raquetas</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bolsos</a></h4>
								</div>

							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Zapatos</a></h4>
								</div>
							</div>


						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Marcas</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-right">(24)</span>Wilson</a></li>
									<li><a href=""> <span class="pull-right">(15)</span>Babolat</a></li>
									<li><a href=""> <span class="pull-right">(10)</span>Head</a></li>
									<li><a href=""> <span class="pull-right">(6)</span>Yonex</a></li>
									<li><a href=""> <span class="pull-right">(2)</span>Prince</a></li>
									<li><a href=""> <span class="pull-right">(9)</span>Dunlop</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Rango de precio</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="2000000" data-slider-step="5" data-slider-value="[50000,1000000]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 2.000.000</b>
							</div>
						</div><!--/price-range-->
						

						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/Head Boom.jpg" width="800" height="800" alt="" />
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-a.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-b.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-c.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-a.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-b.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-c.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-a.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-b.jpg" alt=""></a>
										  <a href=""><img style="width: 85px; min-width: 85px;" src="images/product-details/raqueta-c.jpg" alt=""></a>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>RAQUETA DE TENIS HEAD BOOM PRO</h2>
								<p>Web ID: 1089772</p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>$1.200.000</span>
									<label>Cantidad:</label>
									<input type="number" value="1" min="1" max="15" step="1">
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Añadir
									</button>
								</span>
								<p><b>Disponibilidad:</b> En existencias</p>
								<p><b>Condición:</b> Nuevo</p>
								<p><b>Marca:</b> Head</p>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Detalles</a></li>
								<li><a href="#tag" data-toggle="tab">Otros usuarios compraron</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Opiniones (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								La nueva BOOM PRO combina potencia explosiva, un tacto sensacional y la innovadora estructura Auxetic. 
								Podrás competir mientras disfrutas del partido. Hecha para jugadores de torneos de nivel avanzado y con 
								una nueva forma diseñada para HEAD, la BOOM PRO te dará ese plus de estabilidad y peso que buscas, y activará
								 todo tu poder y confianza. 
								<ol>
									<li>Potencia explosiva.</li>
									<li>Tacto sensacional.</li>
									<li>Nueva forma de la raqueta.</li>
									<li>Para jugadores de torneos de nivel avanzado.</li>
									<li>Mayor estabilidad gracias al mayor peso.</li>
								</ol>
							</div>
							
							<div class="tab-pane fade" id="tag" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/ropa1.jpg" alt="" />
												<h2>$79.900</h2>
												<p>PANTALONETA CORTA DE TENIS DRY TSH 500 HOMBRE AZUL OSCURO</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/ropa2.jpg" alt="" />
												<h2>$96.900</h2>
												<p>PANTALONETA DE TENIS HOMBRE DRY TSH 500 BLANCO</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/ropa3.jpg" alt="" />
												<h2>$99.990</h2>
												<p>CAMISETA POLO TENIS DRY MUJER - ESSENTIEL 100 BLANCO</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/ropa4.jpg" alt="" />
												<h2>$39.900</h2>
												<p>CAMISETA DE TENIS TTS 500 DRY HOMBRE NEGRO GRAFISMO</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
											</div>
										</div>
									</div>
								</div>							
							</div>
							
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>María</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>25 MAY 2022</a></li>
									</ul>
									<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p>Usé 2 raquetas diferentes desde que empecé a jugar al tenis y esta es la mejor.</p>
									<ul>
										<li><a href=""><i class="fa fa-user"></i>Wilson</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>03:07 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>21 MAY 2022</a></li>
									</ul>
									<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</span>
									<p> No se deje engañar por el nombre BOOM. Esta es una raqueta que da más potencia moderada.
										Su perfil es más hacia el control y la fácil jugabilidad. Me encanta el hecho de que es 
										ligero en la cabeza, lo que facilita el balanceo y la maniobra en la red. Además, tiene 
										una sensación muy agradable cuando golpeas el punto dulce que nunca sentí con ninguna otra 
										raqueta (Leer más sobre la revisión que indica que es una gran raqueta versátil debido a la 
										tecnología Auxetic). Definitivamente lo recomiendo.</p>
									<ul>
										<li><a href=""><i class="fa fa-user"></i>Bernardo</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>01:33 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>10 MAY 2022</a></li>
									</ul>
									<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<p>Me encantó esta raqueta, la suavidad era increíble y la potencia y los efectos eran increíbles, la recomendaría si eres avanzado como yo.</p>
									<p><b>Déjanos tu opinión</b></p>
									
									<form action="#">
										<span>
											<input type="text" placeholder="Nombre"/>
											<input type="email" placeholder="Correo electrónico"/>
										</span>
										<textarea name="" ></textarea>
										<b>Evaluación: </b> <img src="images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-right">
											Enviar
										</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Productos recomendados</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img style="width: 248px; min-width: 234px;" src="images/home/prod.jpg" alt="" />
													<h2>$39.900</h2>
													<p>BOLA DE ESPUMA DE TENIS TB100*2 7 CM VERDE</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img style="width: 248px; min-width: 214px;" src="images/home/prod2.jpg" alt="" />
													<h2>$56.900</h2>
													<p>BOLA DE ESPUMA DE TENIS TB100*2 7 CM ROSA</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img style="width: 248px; min-width: 214px;" src="images/home/prod3.jpg" alt="" />
													<h2>$99.900</h2>
													<p>PELOTA TENIS ESPUMA TB110*3 NARANJA</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img style="width: 248px; min-width: 234px;" src="images/home/prod.jpg" alt="" />
													<h2>$39.900</h2>
													<p>BOLA DE ESPUMA DE TENIS TB100*2 7 CM VERDE</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img style="width: 248px; min-width: 234px;" src="images/home/prod2.jpg" alt="" />
													<h2>$56.900</h2>
													<p>BOLA DE ESPUMA DE TENIS TB100*2 7 CM ROSA</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img style="width: 248px; min-width: 234px;" src="images/home/prod3.jpg" alt="" />
													<h2>$99.900</h2>
													<p>PELOTA TENIS ESPUMA TB110*3 NARANJA</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	<%- include('../views/footer.ejs'); %>
	

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>