<div class="recommended_items"><!--recommended_items-->
    <h2 class="title text-center">Productos recomendados</h2>
    
    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">	
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="">
                                    <img style="width: 248px; min-width: 234px;" src="images/home/prod.jpg" alt="" />
                                </a>
                                <h2>$39.900</h2>
                                <p>BOLA DE ESPUMA DE TENIS TB100*2 7 CM VERDE</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="">
                                    <img style="width: 248px; min-width: 214px;" src="images/home/prod2.jpg" alt="" /></a>
                                <h2>$56.900</h2>
                                <p>BOLA DE ESPUMA DE TENIS TB100*2 7 CM ROSA</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="">
                                    <img style="width: 248px; min-width: 214px;" src="images/home/prod3.jpg" alt="" /></a>
                                <h2>$99.900</h2>
                                <p>PELOTA TENIS ESPUMA TB110*3 NARANJA</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">	
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="">
                                    <img style="width: 248px; min-width: 234px;" src="images/home/prod.jpg" alt="" />
                                </a>
                                <h2>$39.900</h2>
                                <p>BOLA DE ESPUMA DE TENIS TB100*2 7 CM VERDE</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="">
                                    <img style="width: 248px; min-width: 234px;" src="images/home/prod2.jpg" alt="" /></a>
                                <h2>$56.900</h2>
                                <p>BOLA DE ESPUMA DE TENIS TB100*2 7 CM ROSA</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="">
                                    <img style="width: 248px; min-width: 234px;" src="images/home/prod3.jpg" alt="" /></a>
                                <h2>$99.900</h2>
                                <p>PELOTA TENIS ESPUMA TB110*3 NARANJA</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>			
    </div>
</div><!--/recommended_items-->